* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebebff;
}

:root {
  --primaryColor: #6070ff;
  --secondaryColor: #172b4d;
  --button: #396df2;
  --arrows: #acb7c3;
  --fontWeight700: 700;
  --contentColor: #ebebff;
}

.firstsection {
  background-color: #fff;
  height: 100vh;
  border-radius: 0 0 0 150px;
  padding: 35px 24px;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.nav-checkbox {
  display: none;
}

.logo-container {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.hamburger-btn {
  color: #67798e;
  font-size: 1.5rem;
  cursor: pointer;
}

/* END OF NAVIGATION BAR */

/* INTRODUCTION */
.introduction {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.ellipse5,
.ellipse3,
.ellipse4,
.ellipse8,
.ellipse11,
.ellipse12,
.ellipse13,
.ellipse15,
.ellipse14,
.rectangle7,
.rectangle4,
.rectangle6,
.rectangle5,
.rectangle4contact,
.ellipse3contact,
.ellipse12contact,
.ellipse5contact,
.rectangle7contact {
  position: absolute;
}

.ellipse11 {
  top: 128.64px;
  left: 0;
}

.ellipse5 {
  top: 155.81px;
  left: 125px;
}

.ellipse3 {
  top: 152.24px;
  right: 0;
}

.ellipse8 {
  top: 110px;
  right: 146px;
}

.ellipse14 {
  left: 298px;
  top: 315px;
}

.rectangle6 {
  top: 104px;
  left: 0;
}

.rectangle7 {
  top: 148px;
  left: 127.18px;
}

.rectangle4 {
  top: 118px;
  right: 0;
}

.vector {
  margin: 12px 20px 0 0;
}

.ellipse15 {
  left: 80px;
  top: 580px;
}

.rectangle5 {
  left: 187px;
  top: 653px;
}

.ellipse4 {
  left: 237px;
  top: 655px;
}

.name {
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

.name-about-width {
  width: 10rem;
}

.about {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.fontweight400 {
  font-weight: 400;
}

.connect {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  text-transform: uppercase;
}

.ellipse12 {
  left: 317.67px;
  top: 490px;
  z-index: 10;
}

.ellipse13 {
  left: 304px;
  top: 500px;
}

/* END OF INTRODUCTION */

/* Work section */

.worksection {
  min-width: 375px;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;
  gap: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 3rem;
}

.card1paragraph-text {
  font-weight: var(--fontWeight700);
  font-size: 32px;
  line-height: 44px;
  color: var(--secondaryColor);
}

.card1description-text {
  display: flex;
  flex-direction: row;
  height: 16px;
  align-items: center;
  font-size: 14px;
}

.canopy {
  color: #344563;
}

.marginright {
  margin-right: 12px;
}

.counterimg {
  width: 8px;
  height: 8px;
}

.imgtext {
  font-weight: 600;
  opacity: 0.6;
}

.cardpara {
  font-size: 15px;
  line-height: 24px;
  opacity: 0.8;
  word-spacing: 3px;
}

.card1-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card1-button-paragraph {
  padding: 4px 12px;
  background: var(--contentColor);
  border-radius: 8px;
  color: var(--primaryColor);
  margin-right: 12px;
  letter-spacing: 0.03em;
  font-size: 13px;
}

.fontweight500 {
  font-weight: 500;
}

.fontweight700 {
  font-weight: 700;
}

.card1-project {
  border: 1px solid var(--button);
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--button);
}

.card1-project:hover {
  background-color: var(--primaryColor);
  color: #fff;
  transform: scale(1.1);
}

/* End of Work section */

/* About Me section */

.aboutsection {
  padding: 100px 24px;
  background-color: #fff;
  border-radius: 0 70px 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
}

.aboutsection h2 {
  font-size: 40px;
  line-height: 52px;
  color: var(--secondaryColor);
}

.vimage {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
}

.resume {
  background: transparent;
  padding: 0.8rem;
  margin-top: 1rem;
}

.resume a {
  color: var(--button);
  letter-spacing: 0.07em;
}

.resume:hover {
  background-color: var(--primaryColor);
  color: #fff;
  transform: scale(1.1);
}

.skills {
  width: 100%;
}

.writtenlanguage,
.language,
.frameworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  padding: 2rem 1rem;
}

.language {
  height: 7rem;
}

.language,
.frameworks {
  display: flex;
  justify-content: space-between;
}

.language p,
.frameworks p {
  font-weight: 500;
  font-size: 20px;
}

.arrow {
  font-size: 1.5rem;
  color: var(--arrows);
  margin-right: 2rem;
}

.writtenlanguage {
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.writtenlanguage > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 1rem;
  color: #253858;
}

.line {
  height: 2px;
  background: #dfe1e6;
  width: 100%;
}

/* End of About section */

/* Contact me */

.contactme {
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
  padding: 100px 24px 0 24px;
  border-radius: 70px 0 0 0;
  color: #fff;
}

.col {
  color: #fff;
  padding-left: 35px;
}

.contactp {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--contentColor);
  padding: 20px 5px 40px;
}

.contactform {
  display: flex;
  flex-direction: column;
}

.formradius {
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
  padding-left: 16px;
  border: none;
  outline: none;
}

.forminput {
  height: 50px;
}

textarea {
  font-size: 15px;
  padding-top: 16px;
  cursor: text;
  color: #b3bac5;
}

.formbutton {
  background: #fff;
  border: none;
  height: 50px;
  color: var(--primaryColor);
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  border-radius: 8px;
  margin-bottom: 35px;
}

.formbutton:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1.1);
  border: 1px solid #fff;
}

.blackline {
  height: 5px;
  background: #0d151e;
  width: 134px;
  display: flex;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rectangle4contact {
  right: 0;
  top: 4770.4px;
}

.ellipse3contact {
  right: 0;
  top: 4795.75px;
}

.ellipse12contact {
  left: 130px;
  top: 4770px;
}

.ellipse5contact {
  left: 235.74px;
  top: 5460.27px;
}

.rectangle7contact {
  left: 235.74px;
  top: 5430.27px;
}

/* End of Contact me */
