.firstsection {
  background-color: #fff;
  height: 100vh;
  border-radius: 0 0 0 150px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR */
.logo-container,
.hamburger-btn {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.hamburger-btn {
  color: #67798e;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 36px;
}

.logo-text {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  margin-left: 30px;
}

.nav-list {
  position: absolute;
  margin-top: -25px;
  width: 100%;
  background: var(--primaryColor);
  transition: all 0.5s;
  font-weight: 600;
  font-size: 32px;
  opacity: 0.9;
  z-index: 10;
  display: none;
}

nav li {
  line-height: 44px;
  margin: 140px auto;
  text-align: center;
  transition: all 0.5s;
}

.resume a {
  color: var(--button);
  letter-spacing: 0.07em;
}

.nav-list li a {
  color: #fff;
}

#nav-list.active {
  display: block;
  height: 100vh;
}

#hamburger {
  color: var(--primaryColor);
  font-size: 1.5rem;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  transition: all 0.3s linear;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
  }
}

.close {
  display: none;
  transition: all 0.3s linear;
}

#close-btn:hover {
  transform: rotate(360deg);
}

.displayshow {
  display: block;
  color: white;
  z-index: 2000;
}

/* END OF NAVIGATION BAR */

/* INTRODUCTION */
.introduction {
  display: flex;
  height: 85vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.paragraph {
  padding-left: 24px;
  width: 500px;
}

.ellipse5,
.ellipse3,
.ellipse4,
.ellipse8,
.ellipse11,
.ellipse15,
.ellipse14,
.rectangle7,
.rectangle4,
.rectangle6,
.rectangle5,
.rectangle4contact,
.ellipse3contact,
.ellipse12contact,
.ellipse5contact,
.rectangle7contact,
.rectangle6contact,
.ellipse13contact,
.ellipse11contact,
.ellipseD11,
.ellipseD3,
.rectangleD4,
.rectangleD6,
.rectangleD7,
.ellipseD5,
.ellipseD12,
.ellipseD13 {
  position: absolute;
}

.ellipse11 {
  top: 128.64px;
  left: 0;
}

.ellipse5 {
  top: 155.81px;
  left: 125px;
}

.ellipse3 {
  top: 152.24px;
  right: 0;
}

.ellipse8 {
  top: 110px;
  right: 146px;
}

.ellipse14 {
  left: 298px;
  top: 315px;
}

.rectangle6 {
  top: 104px;
  left: 0;
}

.rectangle7 {
  top: 148px;
  left: 127.18px;
}

.rectangle4 {
  top: 118px;
  right: 0;
}

.vector {
  margin: 12px 20px 0 0;
}

.ellipse15 {
  left: 80px;
  top: 580px;
}

.rectangle5 {
  left: 187px;
  top: 653px;
}

.ellipse4 {
  left: 237px;
  top: 655px;
}

.ellipseD12 {
  left: 317.67px;
  top: 490px;
  width: 24.14px;
}

.ellipseD13 {
  left: 306px;
  top: 500px;
  width: 30px;
}

.name {
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  width: 300px;
}

.name-about-width {
  width: 10rem;
}

.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.connect {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  text-transform: uppercase;
}

/* END OF INTRODUCTION */

/* Work section */

.worksection {
  min-width: 375px;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;
  gap: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 3rem;
}

.card1paragraph-text {
  font-weight: var(--fontWeight700);
  font-size: 32px;
  line-height: 44px;
  color: var(--secondaryColor);
}

.card1description-text {
  display: flex;
  flex-direction: row;
  height: 16px;
  align-items: center;
  font-size: 14px;
  margin: 1rem 0 1rem 0;
}

.portfolioCard {
  width: 295px;
  height: 220px;
}

.canopy {
  color: #344563;
  text-transform: capitalize;
}

.marginright {
  margin-right: 12px;
}

.imgtext {
  font-weight: 600;
  opacity: 0.6;
}

.cardpara {
  font-size: 15px;
  line-height: 24px;
  opacity: 0.8;
  word-spacing: 3px;
  text-align: justify;
  text-justify: inter-character;
}

.card1-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.3rem 0 3rem 0;
}

.card1-button-paragraph {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: var(--primaryColor);
  margin-right: 12px;
  letter-spacing: 0.03em;
  font-size: 13px;
}

.fontweight500 {
  font-weight: 500;
}

.fontweight700 {
  font-weight: 700;
}

.card-content {
  margin-top: 1rem;
}

.card1-project {
  border: 1px solid var(--button);
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--button);
  background: transparent;
}

.card1-project:hover {
  background: var(--primaryColor);
  color: #fff;
  transform: scale(1.1);
}

/* End of Work section */

/* About Me section */

.aboutsection {
  background-color: #fff;
  border-radius: 0 70px 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  padding: 70px 30px;
}

.aboutsection h2 {
  font-size: 40px;
  line-height: 52px;
  color: var(--secondaryColor);
}

.vimage {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
}

.resume {
  background: transparent;
  padding: 0.8rem;
  margin-top: 1rem;
}

.resume:hover {
  background-color: var(--primaryColor);
  color: #fff;
  transform: scale(1.1);
}

.skills {
  width: 100%;
}

.writtenlanguage,
.language,
.frameworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  padding: 2rem 1rem;
}

.language {
  height: 7rem;
}

.language,
.frameworks {
  display: flex;
  justify-content: space-between;
}

.language p,
.frameworks p {
  font-weight: 500;
  font-size: 20px;
}

.arrow {
  font-size: 1.5rem;
  color: var(--arrows);
  margin-right: 2rem;
}

.writtenlanguage {
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.writtenlanguage-p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 1rem;
  color: #253858;
}

.line {
  height: 2px;
  background: #dfe1e6;
  width: 100%;
}

/* End of About section */

/* Contact me */

.contactme {
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
  padding: 100px 24px 0 24px;
  border-radius: 70px 0 0 0;
  color: #fff;
  position: relative;
}

.col {
  color: #fff;
}

.contactp {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--contentColor);
  padding: 20px 5px 40px;
}

.contactform {
  display: flex;
  flex-direction: column;
}

.formradius {
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
  padding-left: 16px;
  border: none;
  outline: none;
}

.forminput {
  height: 50px;
}

textarea {
  font-size: 15px;
  padding-top: 16px;
  cursor: text;
}

.formbutton {
  background: #fff;
  border: none;
  height: 50px;
  color: var(--primaryColor);
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  border-radius: 8px;
  margin-bottom: 35px;
}

.formbutton:hover {
  background-color: transparent;
  color: #fff;
  transform: scale(1.1);
  border: 1px solid #fff;
  cursor: pointer;
}

.blackline {
  height: 5px;
  background: #0d151e;
  width: 134px;
  display: flex;
  align-self: center;
  border-radius: 10px;
  margin: 20px auto 20px;
}

.rectangle4contact {
  right: 0;
  top: 60.4px;
}

.ellipse3contact {
  right: 0;
  top: 85.75px;
}

.ellipse12contact {
  left: 130px;
  top: 65.4px;
}

.ellipse5contact {
  left: 270.74px;
  top: 730.27px;
}

.rectangle7contact {
  left: 265.74px;
  top: 700.27px;
}

.contactdesktopimages {
  display: none;
}

/* End of Contact me */

.introductiondesktop {
  display: none;
}

.lines {
  background: black;
  height: 2px;
  width: 15px;
}

/* Pop up */

.flexx {
  display: flex;
  justify-content: space-between;
}

.popUpClose {
  color: #67798e;
  font-size: 1.3rem;
  cursor: pointer;
  padding-right: 0.8rem;
}

.popUpParagraph {
  padding: 1.5rem 0;
}

.card1description-textpadding {
  padding-bottom: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(103, 121, 142, 0.7);
  display: none;
  z-index: 1000;
  overflow-y: auto;
}

.popUpModal {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;

  /* gap: 80px; */
}

/* open/close modal */
.open-modal {
  display: block;
}

.close-modal {
  display: none;
}

.git {
  margin-left: 5px;
}

#githubsrc {
  margin-left: 0.5rem;
}

.popUpPara {
  font-size: 15px;
  line-height: 24px;
  opacity: 0.8;
  word-spacing: 3px;
  text-align: justify;
  text-justify: inter-character;
}

/* pop up modal */

/* .popUpModal {
  place-items: center;
} */

.pop {
  display: flex;
  flex-direction: column;
  width: 327px;
  padding: 3rem 16px;
  background: white;
  border-radius: 0.9rem;
}

.popUpsection {
  min-width: 375px;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100vh;
  gap: 80px;
  overflow-y: scroll;
}

.popUp-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.3rem 0 3rem 0;
}

.card1paragraph-te {
  font-weight: var(--fontWeight700);
  font-size: 20px;
  line-height: 44px;
  color: var(--secondaryColor);
}
